<h1>Inventory: <%= @inventory.name %></h1>

<p><%= link_to 'Add Food', new_inventory_food_path(@inventory) %></p>

<h2>Inventory Items:</h2>
<table>
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @inventory.inventory_foods.each do |inventory_food| %>
      <tr>
        <td><%= inventory_food.food.name %></td>
        <td><%= inventory_food.quantity %></td>
        <td><%= link_to 'Remove', inventory_food_path(inventory_food), method: :delete, data: { confirm: 'Are you sure you want to remove this item?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Back to Inventories', inventories_path %></p>
