<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="nav">
      <ul>
        <li><%= link_to 'Foods', foods_path %></li>
        <li><%= link_to 'Users', users_path %></li>
        <li><%= link_to 'Inventories', inventories_path %></li>
        <li><%= link_to 'Recipes', recipes_path %></li>
        <li><%= link_to 'Inventory Food', inventory_foods_path %></li>
      </ul>
    </nav>
    <p class="notice center"><%= notice %></p>
    <p class="alert center"><%= alert %></p>
    <%= yield %>
  </body>
</html>
