<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="nav">
        <ul>
          <li><%= link_to 'Public Recipes', public_recipes_path %></li>
          <li><%= link_to 'Inventories', inventories_path %></li>
          <li><%= link_to 'Recipes', my_recipes_path %></li>
          <li>
            <%= link_to "Log Out", destroy_user_session_path, class: 'logout', 'data-turbo-method': :delete %>
          </li>
        </ul>
      </nav>
    <% end %>
    <p class="notice center"><%= notice %></p>
    <p class="alert center"><%= alert %></p>
    <%= yield %>
  </body>
</html>
